*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.box{
    background-color: #E64833;
    margin: 50px;
    padding: 50px;
    border:2px solid #244855;
    border-radius: 20px;
    color:#fbe9d0;
    width: 500px;
    height:500px
}
@media (max-width:720px){
    .box{
        background-color: #34c740;
        margin: 50px;
        padding: 50px;
        border:2px solid #2d2292;
        border-radius: 20px;
        color:#fbe9d0;
        width: 100px;
        height:100px
    }
}